<div class="row">
  <div class = "col-8-md">
    <h2>Sign Up Confirmation</h2>
    <h4>Last chance! Make sure these values are correct."</h4>
  </div>
</div>

<div class = "row">
  <div class = "col-4-md">
    <h5>Name: <% @user.name %></h5>
    <h5>Email: <% @user.email %></h5>
  </div>
</div>
